<div>
	<%= cl_image_tag("https://res.cloudinary.com/dovu27lye/image/upload/v1584701587/planbidon/bandeau_pv8ge8.jpg", id: 'img_accueil') %>
</div>

<div id="cardsPrk">
</div>

<div class="strava_ids_prk" style="display: none"><%= @parcours_strava_id_prk %></div> 
<div class="strava_ids_ga" style="display: none"><%= @parcours_strava_id_ga %></div>
<div class="ids" style="display: none"><%= @parcours_id  %></div>
<div class="parcourstotal" style="display: none"><%= @parcours_total  %></div>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
<script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>


<!-- <div id="cardsPrk">
	<% @parcours.each do |parcour| %>
		<%= link_to(parcour_path(parcour)) do %>
			<div class="card-category-prk-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= parcour.photo_url %>)">
				<div id="card-details">
					<%= parcour.titre %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
 -->