<h1> <strong> Nos parcours </strong> </h1>

<div id="map_container">
	<div id="map"></div>
</div>

<div class="map_ids" style="display: none"><%= @parcours_map_id %></div> 
<div class="map_start_ids" style="display: none"><%= @parcours_map_start_id %></div> 
<div class="map_title" style="display: none"><%= @parcours_titre %></div> 
<div class="ids" style="display: none"><%= @parcours_id  %></div>

  <div id="btn-home">
    <%= link_to "HOME", root_path, class: "btn btn-outline-prk" %>
  </div>


<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
<script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>