<% content_for :meta_title, "Le parcours #{@parcour.titre} est seulement sur #{DEFAULT_META["meta_product_name"]} !" %>
<% content_for :meta_description, @parcour.description %>
<% content_for :meta_image, cl_image_path(@parcour.photos.split(',')[1]) %>

<div id="page-title-show">
  <%= cl_image_tag(@parcour.photos.split(',')[1], id: 'img_show_top') %>
  <div id="master-title-show">
    <a href="#description-id" class="tab-underlined active" data-target="Fiche"><%= @parcour.titre %></a>
  </div>
</div>

<div id="show-links">
  <%= link_to 'DESCRIPTION', '#description-id', class: "" %>
  <%= link_to 'LE PARCOURS', '#show-parcours-details', class: "" %>
  <%= link_to 'SYNOPSIS', '#description-synopsis', class: "" %>
  <%= link_to 'LE TINDER SPOT', '#description-tinder-spot', class: "" %>
  <%= link_to 'SE CULTIVER', '#description-se-cultiver', class: "" %>
  <%= link_to 'SE RAVITAILLER', '#description-se-ravitailler', class: "" %>
  <%= link_to 'TRANSPORT', '#description-transport', class: "" %>
</div>

<% if user_signed_in? %>
  <div id=show-links>
    <div id="btn-home">
      <%= link_to "EDITER CE PARCOURS", edit_parcour_path, class: "btn btn-outline-prk" %>
    </div>
    <div id="btn-home">
      <%= link_to "EFFACER CE PARCOURS",
            parcour_path(@parcour),
            method: :delete,
            data: { confirm: "Es-tu sur de vouloir supprimer ce parcours ?" },
            class: "btn btn-outline-prk"  %>
    </div>
  </div>
<% end %>

<div id="container-show">

  <div id="title-show">
    <a href="#description-id" class="tab-underlined active" data-target="Fiche"><h2>DESCRIPTION</h2></a>
  </div>

  <div id="description-id">
    <p><%= @parcour.description %></p>
  </div>
  
  <div id="img_show">
    <%= cl_image_tag(@parcour.photos.split(',')[2], id: '') %>
  </div>

  <div id="title-show">
    <a href="#show-parcours-details" class="tab-underlined active" data-target="Fiche"><h2>LE PARCOURS</h2></a>
  </div>

  <div id="show-parcours">

    <div id="video-show" data-aos="fade-up">
       <video preload="true" controls loop muted class="video-bottom">
          <source src=<%= @parcour.relive_id %> type="video/mp4" data-src=<%= @parcour.relive_id %>> 
       </video>
    </div>
    
    <div id="show-parcours-details">
      <p><strong>Distance:</strong> <%= @parcour.distance %> kilometres</p>
      <p><strong>Durée:</strong> <%= @parcour.duree %></p>
      <p><strong>Denivele:</strong> <%= @parcour.denivele %></p>
      <p><strong>Type:</strong> <%= @parcour.difficulte %></p>
    </div>

  </div>        

  <div id="title-show">
    <a href="#description-synopsis" class="tab-underlined active" data-target="Fiche"><h2>SYNOPSIS</h2></a>
  </div>

  <div id="description-synopsis">
    <p><%= @parcour.synopsis.html_safe %></p>
  </div>

  <div id="img_show">
    <%= cl_image_tag(@parcour.photos.split(',')[1], id: '') %>
  </div>

  <div id="title-show">
    <a href="#description-tinder-spot" class="tab-underlined active" data-target="Fiche"><h2>LE TINDER SPOT</h2></a>
  </div>

  <div id="description-tinder-spot">
    <p><%= @parcour.tinder_spot.html_safe %></p>
  </div>

  <div id="img_show">
    <%= cl_image_tag(@parcour.photos.split(',')[2], id: '') %>
  </div>

  <div id="title-show">
    <a href="#description-se-cultiver" class="tab-underlined active" data-target="Fiche"><h2>SE CULTIVER</h2></a>
  </div>

  <div id="description-se-cultiver">
    <p><%= @parcour.se_cultiver.html_safe %></p>
  </div>

  <div id="img_show">
    <%= cl_image_tag(@parcour.photos.split(',')[1], id: '') %>
  </div>

  <div id="title-show">
    <a href="#description-se-ravitailler" class="tab-underlined active" data-target="Fiche"><h2>SE RAVITAILLER</h2></a>
  </div>

  <div id="description-se-ravitailler">
    <p><%= @parcour.se_ravitailler.html_safe %></p>
  </div>

  <div id="img_show">
    <%= cl_image_tag(@parcour.photos.split(',')[0], id: '') %>
  </div>

  <div id="title-show">
    <a href="#description-transport" class="tab-underlined active" data-target="Fiche"><h2>S’Y RENDRE/EN  REVENIR EN TRANSPORT EN COMMUN</h2></a>
  </div>

  <div id="description-transport">
    <p><%= @parcour.transport.html_safe %></p>
  </div>

  <div id="btn-home">
    <%= link_to "Y ALLER AVEC CITYMAPPER", "https://citymapper.com/directions?endcoord=#{@parcour_start}", target: "_blank",  class: "btn btn-outline-prk" %>
  </div>

  <div id="title-show">
    <a href="#description-carte" class="tab-underlined active" data-target="Fiche"><h2>CARTE DU PARCOURS</h2></a>
  </div>

  <div id="cardShow"> </div>

  <div id='strava_id_show' style="display: none"> <%= @parcour.strava_id  %></div>
  <div id='athlete_id_show' style="display: none"> <%= @parcour.athlete_id  %></div>

  <div id='parcour_details' style="display: none"> <%= @parcour_details  %></div>

  <div id="btn-home">
    <%= link_to "ACCUEIL", root_path, class: "btn btn-outline-prk" %>
  </div>

</div>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
<script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>